<div class="landing">
  <div class="banner"><%= render  "landing_banner" %>
  <div class="landing-nav">
        <%= render  "landing_nav.html.erb" %>
    </div>
  </div>
  <div class="landing-container">
    <div class="landing-profile">
      <div class="circle">
        <div class="profile" style="background-image: url(<%= asset_path 'elizabeth.jpg' %>);"></div>
      </div>
    </div>
    <div class="landing-information">
      <div class="landing-about">
        <h4>A full-stack web developer.</h4>
        <h4>Graduate of Le Wagon Montreal and McGill University.</h4>
      </div>
    </div>
  </div>
  <div class="media-links"><%= render  "components/contact_links" %></div>
</div>

<div id="projects-background">
  <div id="nav">
    <%= render  "components/nav" %>
  </div>
  <div class="project-background"></div>
  <h1 class=title>Projects</h1>
  <div class="projects-information">
    <%= render  "project_information.html.erb" %>
  </div>
  <ul class="slider-nav">
    <li class="slider-nav__item"><label class="slider-nav__label" for="one">1</label></li>
    <li class="slider-nav__item"><label class="slider-nav__label" for="two">2</label></li>
  </ul><!-- .slider-nav -->  
</div>

 <div id="about">
  <div class="about-background"></div>
  <h1>About Me</h1>
  <h2>Let's work together!</h2>    
  <div class="languages"><%= render  "components/languages" %></div> 
  <div class="about-info"><%= render  "about_info" %></div>  
  <div class="about-why"><%= render  "about_why" %></div> 
</div> 